<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detalle del Cocktail</title>
    <style>
        .cocktail-info {
            display: flex;
            justify-content: space-between;
        }

        .cocktail-details {
            flex-basis: 50%;
        }

        .cocktail-image {
            flex-basis: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .cocktail-image img {
            max-width: 100%;
            height: auto;
        }

        strong {
            font-weight: bold;
        }
    </style>
</head>
<body>
    <div class="cocktail-info">
        <div class="cocktail-details">
            <h1>{{ cocktail['strDrink'] }}</h1>
            <p><strong>Tags:</strong> {{ cocktail['strTags'] or 'N/A' }}</p>
            <p><strong>Categoría:</strong> {{ cocktail['strCategory'] }}</p>
            <p><strong>Tipo:</strong> {{ cocktail['strAlcoholic'] }}</p>
            <p><strong>Vaso:</strong> {{ cocktail['strGlass'] }}</p>
            <p><strong>Instrucciones:</strong> {{ cocktail['strInstructions'] }}</p>
            <p><strong>Ingredientes:</strong></p>
            <ul>
                {% for i in range(1, 16) %}
                {% if cocktail['strIngredient' ~ i] %}
                <li>{{ cocktail['strIngredient' ~ i] }}: {{ cocktail['strMeasure' ~ i] or '' }}</li>
                {% endif %}
                {% endfor %}
            </ul>
            <a href="/">Regresar a la lista</a>
        </div>
        <div class="cocktail-image">
            <img src="{{ cocktail['strDrinkThumb'] }}" alt="Imagen del Cocktail">
        </div>
    </div>
</body>
</html>
