<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Information of {{ pokemon_name }}</title>
</head>
<body>
    <h1>{{ pokemon_name }} Info</h1>

    {% if error_message %}
        <p>{{ error_message }}</p>
    {% else %}
        <p>Abilities: {{ habilidades|join(', ') }}</p>
        <p>Type: {{ tipos|join(', ') }}</p>

        {% set count = 0 %}
        {% for sprite_type, sprite_url in sprites.items() if sprite_type.startswith('front') or sprite_type.startswith('back') %}
            {% if count < 2 %}
                <img src="{{ sprite_url }}" alt="{{ sprite_type }} Sprite">
                <a href="{{ url_for('descargar_sprite', pokemon_name=pokemon_name, sprite_type=sprite_type) }}" target="_blank">Descargar {{ sprite_type }}</a><br>
                {% set count = count + 1 %}
            {% endif %}
        {% endfor %}
    {% endif %}
</body>
</html>
